@keyframes buttonHover {
    from{
        border-radius: 0rem 2rem 0 2rem;
    }
    to{
        border-radius: 2rem 0 2rem 0;
    }
}

@mixin buttonHoverMixin{
    animation-name: buttonHover;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-fill-mode: both;
}